*{
  padding:0;
  margin:0;
  box-sizing: border-box;

}

.navbar{
  height: 100px;
  background-color: aqua;
  display:flex;
  flex-flow: row wrap;
}

.Subtitulo{
  flex:20%;
  border: 1px solid red;;
}