.pagina-contato{
    background-color:gray;
    margin-top: 2em;
    }

    .menu-rodape{
   display: none;
    }

    .pagina-contato-titulo{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .pagina-contatato-h2{
     font-size:3rem;
     border-bottom: 2px solid black;
     border-top: 2px solid black;
     padding:5px 0;
     width: 75%;
     margin-top: 5px;
     color:rgb(0, 0, 0);
     white-space: nowrap;
    }

    .pagina-contatato-h3{
        font-size:2rem;
        border-bottom: 2px solid black;
        padding:5px 0;
        width: 30%;
        margin-top: 0.5em;
        color:rgb(0, 0, 0);
       }

       .contato-item{
       display:flex;
       justify-content: center;
       align-items: center;
       }

       .contato-img{
        width: 20%;
        position: relative;
        right: 3em;
       }
       .mapa-img{
        width: 30%;
        position: relative;
        right: 3em;
        
       }

       .pagina-contato-botao p{
        font-size: 1.4rem;
        position: relative;
        right: 3em;
       }
        .contato-item-button{
            width:70%;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 15px;
            padding: 20px 80px; /* Ajuste o padding conforme necessário */
            background-color: gray;
            color: black;
            text-decoration: none;
            font-size: 2rem;
            margin-top: 60px;
        }

        .contato-item-button2{
            width: 70%;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 15px;
            padding: 40px 80px; /* Ajuste o padding conforme necessário */
            background-color: gray;
            color: black;
            text-decoration: none;
            font-size: 2rem;
            margin-top: 60px;
        }

        .pagina-solicite{
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .pagina-contato-botao{
            width: 80%;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 15px;
            padding: 30px 80px; /* Ajuste o padding conforme necessário */
            background-color: gray;
            color: black;
            text-decoration: none;
            font-size: 2rem;
            margin-top: 60px;
            white-space: nowrap;
        }

        .quinta-contato-rodape{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
        }

        .quinta-contato-rodape p{
        color: black;
        margin-top: 2em;
        }



/* Layout para telas maiores (PC) */
@media screen and (min-width: 1630px) and (max-width: 1920px){
    
    .pagina-contato{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:gray;
    position: relative;
    overflow: hidden;
    }

    .menu-rodape{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    font-size:2rem;
    margin-top: 8em;
    }

    .pagina-contato-titulo{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .pagina-contatato-h2{
     font-size:4rem;
     border-bottom: 2px solid black;
     border-top: 2px solid black;
     padding:5px 0;
     width: 70%;
     margin-top: 5px;
     color:rgb(0, 0, 0);
     white-space: nowrap;
    }

    .pagina-contatato-h3{
        font-size:3rem;
        border-bottom: 2px solid black;
        padding:5px 0;
        width: 30%;
        margin-top: 0.5em;
        color:rgb(0, 0, 0);
        white-space: nowrap;
       }

       .contato-item{
       display:flex;
       justify-content: center;
       align-items: center;
       }

       .contato-img{
        width: 20%;
        position: relative;
        right: 5em;
        object-fit: contain; /* Faz a imagem se ajustar mantendo sua proporção */
       }
       .mapa-img{
        width: 30%;
        position: relative;
        right: 4.8em;
        object-fit: contain; /* Faz a imagem se ajustar mantendo sua proporção */
        
       }
        .contato-item-button{
            width: 70%;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 15px;
            padding: 20px 80px; /* Ajuste o padding conforme necessário */
            background-color: gray;
            color: black;
            text-decoration: none;
            font-size: 2rem;
            margin-top: 60px;
              overflow: hidden; /* Impede que a imagem saia do botão */
        }

        .contato-item-button2{
            width: 70%;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 15px;
            padding: 40px 80px; /* Ajuste o padding conforme necessário */
            background-color: gray;
            color: black;
            text-decoration: none;
            font-size: 2rem;
            margin-top: 60px;
        }

        .pagina-solicite{
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .pagina-contato-botao{
            width: 90%;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 15px;
            padding: 30px 80px; /* Ajuste o padding conforme necessário */
            background-color: gray;
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-size: 2rem;
            margin-top: 60px;
            white-space: nowrap;
        }

        .quinta-contato-rodape{
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 20px;
        position: relative;
       left: 37em;
        }
        .pagina-contato-botao p{
     width: 100%;
     position: relative;
     left: 0.5em;
}
  
}

@media screen and (min-width: 1400px) and (max-width: 1630px){
    .pagina-contato{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background-color:gray;
        position: relative;
        overflow: hidden;
        }
    
        .menu-rodape{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:50px;
        font-size:2rem;
        margin-top: 8em;
        }
    
        .pagina-contato-titulo{
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        .pagina-contatato-h2{
         font-size:4rem;
         border-bottom: 2px solid black;
         border-top: 2px solid black;
         padding:5px 0;
         width: 70%;
         margin-top: 5px;
         color:rgb(0, 0, 0);
         white-space: nowrap;
        }
    
        .pagina-contatato-h3{
            font-size:3rem;
            border-bottom: 2px solid black;
            padding:5px 0;
            width: 30%;
            margin-top: 0.5em;
            color:rgb(0, 0, 0);
            white-space: nowrap;
           }
    
           .contato-item{
           display:flex;
           justify-content: center;
           align-items: center;
           }
    
           .contato-img{
            width: 20%;
            position: relative;
            right: 4.3em;
            object-fit: contain; /* Faz a imagem se ajustar mantendo sua proporção */
           }
           .mapa-img{
            width: 30%;
            position: relative;
            right: 4.3em;
            object-fit: contain; /* Faz a imagem se ajustar mantendo sua proporção */
            
           }
            .contato-item-button{
                width: 70%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 20px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: black;
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
                  overflow: hidden; /* Impede que a imagem saia do botão */
            }
    
            .contato-item-button2{
                width: 70%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 40px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: black;
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
            }
    
            .pagina-solicite{
                display:flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
    
            .pagina-contato-botao{
                width: 90%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 30px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: rgb(0, 0, 0);
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
                white-space: nowrap;
            }
    
            .quinta-contato-rodape{
             display: flex;
             justify-content: center;
             align-items: center;
             padding: 20px;
            position: relative;
           left: 35em;
            }
            .pagina-contato-botao p{
         width: 100%;
         position: relative;
        right: 0.5em;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    .pagina-contato{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background-color:gray;
        position: relative;
        overflow: hidden;
        }
    
        .menu-rodape{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:50px;
        font-size:2rem;
        margin-top: 8em;
        }
    
        .pagina-contato-titulo{
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        .pagina-contatato-h2{
         font-size:4rem;
         border-bottom: 2px solid black;
         border-top: 2px solid black;
         padding:5px 0;
         width: 70%;
         margin-top: 5px;
         color:rgb(0, 0, 0);
         white-space: nowrap;
        }
    
        .pagina-contatato-h3{
            font-size:3rem;
            border-bottom: 2px solid black;
            padding:5px 0;
            width: 30%;
            margin-top: 0.5em;
            color:rgb(0, 0, 0);
           }
    
           .contato-item{
           display:flex;
           justify-content: center;
           align-items: center;
           }
    
           .contato-img{
            width: 30%;
            position: relative;
            right: 3.5em;
            object-fit: contain; /* Faz a imagem se ajustar mantendo sua proporção */
           }
           .mapa-img{
            width: 30%;
            position: relative;
            right: 3.5em;
            object-fit: contain; /* Faz a imagem se ajustar mantendo sua proporção */
            
           }
            .contato-item-button{
                width: 70%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 20px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: black;
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
                  overflow: hidden; /* Impede que a imagem saia do botão */
            }
    
            .contato-item-button2{
                width: 70%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 40px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: black;
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
            }
    
            .pagina-solicite{
                display:flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
    
            .pagina-contato-botao{
                width: 90%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 30px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: rgb(0, 0, 0);
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
                white-space: nowrap;
            }
    
            .quinta-contato-rodape{
             display: flex;
             justify-content: center;
             align-items: center;
             padding: 20px;
            position: relative;
           left: 30em;
            }
            .pagina-contato-botao p{
         width: 100%;
         position: relative;
        right: 0.5em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){

    .pagina-contato{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        background-color:gray;
        position: relative;
        overflow: hidden;
        }
    
        .menu-rodape{
       display:none;
        }
    
        .pagina-contato-titulo{
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    
        .pagina-contatato-h2{
         font-size:4rem;
         border-bottom: 2px solid black;
         border-top: 2px solid black;
         padding:5px 0;
         width: 70%;
         margin-top: 5px;
         color:rgb(0, 0, 0);
         white-space: nowrap;
        }
    
        .pagina-contatato-h3{
            font-size:3rem;
            border-bottom: 2px solid black;
            padding:5px 0;
            width: 30%;
            margin-top: 0.5em;
            color:rgb(0, 0, 0);
            white-space: nowrap;
           }

         
    
           .contato-item{
           display:flex;
           justify-content: center;
           align-items: center;
           }
    
           .contato-img{
            width: 30%;
            position: relative;
            right: 3.5em;
            object-fit: contain; /* Faz a imagem se ajustar mantendo sua proporção */
           }
           .mapa-img{
            width: 30%;
            position: relative;
            right: 3.5em;
            object-fit: contain; /* Faz a imagem se ajustar mantendo sua proporção */
            
           }
            .contato-item-button{
                width: 70%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 20px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: black;
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
                  overflow: hidden; /* Impede que a imagem saia do botão */
            }
    
            .contato-item-button2{
                width: 70%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 40px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: black;
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
            }
    
            .pagina-solicite{
                display:flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
    
            .pagina-contato-botao{
                width: 90%;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 15px;
                padding: 30px 80px; /* Ajuste o padding conforme necessário */
                background-color: gray;
                color: rgb(0, 0, 0);
                text-decoration: none;
                font-size: 2rem;
                margin-top: 60px;
                white-space: nowrap;
            }
    
            .quinta-contato-rodape{
             display: flex;
             justify-content: center;
             align-items: center;
             padding: 20px;
            position: relative;
           left: 30em;
            }
            .pagina-contato-botao p{
         width: 100%;
         position: relative;
        right: 0.5em;
    }
}

















