.quinta-pagina {
    padding: 1%;
    margin-top: -0.2%;
    background-color: gray;
    margin-top: 25px;
}

.quinta-pagina-titulo {
    display: flex;
    justify-content: center;
    border-top: 2px solid black; /* Linha em cima do texto */
    border-bottom: 2px solid black; /* Linha embaixo do texto */
    padding: 5px 0; /* Espaçamento entre as linhas e o texto */
    width: 14em;
}



.quinta-pagina-subtitulo {
    display: flex;
    justify-content: center;
}

.opcoes-menu-rodape {
    display: flex;
    justify-content: center;

}

.menu {
    text-align: center;
    white-space: nowrap;
    gap: 220px;
    display: flex;
}

.menu a{
    font-size: 1.7rem;
    padding:1px 0;
}

.quinta-pagina-subtitulo h3 {
    font-size: 2rem;
    color:black;
}

.quinta-pagina-titulo h2 {
    color: black;
    font-size: 2.5rem;
}

.quinta-pagina-principal p {
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

.quinta-pagina-conteudo {
    margin-top: 2%;
    flex-direction: row;
}


.quinta-pagina-coluna-do-meio {
    justify-content: space-between;
    width: 70%;
    clear: both;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-top: 5%;
    position: relative;
    left:-2em;
    
}

.quinta-pagina-coluna-do-meio img{
   width: 50%;
   display: block; /* Remove espaço embaixo da imagem */
   
}


.retangulo {
    white-space: nowrap;
    width: 105%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px 20px; /* Ajuste o padding conforme necessário */
    background-color: gray;
    color: black;
    text-decoration: none;
    font-size: 3rem;

}
.retangulo img{
    width: 15%;
}

.retangulo2 {
    white-space: nowrap;
    border: 2px solid rgb(0, 0, 0);
    width: 55%;
    position: relative;
    border-radius: 10px;
    left: 1px;
    padding: 30px 100px; /* Ajuste o padding conforme necessário */
    background-color: gray;
    color: black;
    text-decoration: none;
    font-size: 4rem;
    margin-top: 25px;
}

.retangulo2 img{
    width: 52%;
    position: relative;
    left: -55%;
}

.quinta-pagina-coluna-da-direita {
    display: flex;
    flex-direction: column;
}

.rodape{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.quinta-pagina-coluna-do-meio, .quinta-pagina-coluna-da-direita {
    flex: 1; /* Cada coluna ocupa uma parte igual do espaço disponível */
    margin: 10px; /* Margem entre as colunas */
    padding: 20px; /* Padding interno */
}
.quinta-pagina-coluna-da-direita-button {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 30px 165px; /* Ajuste o padding conforme necessário */
    background-color: gray;
    color: black;
    text-decoration: none;
    font-size: 4rem;
    margin-top: 5px;
}

.quinta-pagina-coluna-da-direita {
    width: 120%;
    margin-left: -1.6em;

}

.quinta-pagina-rodape {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajuste conforme necessário */
    align-items: center;
    margin-left: -2%;
}


.quinta-pagina-coluna-da-direita-button p{
 font-size:1.5rem;
 white-space: nowrap; /* Impede a quebra de linha */
 position: relative;
 left: -6.6em;

}
.quinta-pagina-coluna-da-direita{
display: none;
}

@media screen and (min-width: 768px){


    .quinta-pagina-coluna-da-direita{
        display: block;
        }

        .menu-fale-conosco{
        font-size: 1.5em;
        gap:3em;
        }

        .quinta-pagina-titulo {
            border-top: 2px solid black; /* Linha em cima do texto */
            border-bottom: 2px solid black; /* Linha embaixo do texto */
            padding: 5px 0; /* Espaçamento entre as linhas e o texto */
            width: 18em;
            white-space: nowrap;
           align-items: center;
           margin-left: 20em;
        }

        
        .retangulo{
            width: 50%;
           
        }
        .retangulo2{
            width: 30%;
            left: -0.3em;
        }

        .retangulo2 img{
            width: 35%;
            position: relative;
            left: -1.2em;
        }

        .quinta-pagina-coluna-da-direita-button{
            width: 30%;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
           position: relative;
           top:-6em;
           left: 8em;
            
        }

        .quinta-pagina-coluna-da-direita-button p{
           font-size: 1rem;
           margin-left:5.2em;
         
        }
        
        .quinta-pagina-rodape {
           
            font-size: 1.5em;
            position: relative;
            top:-5em;
        }

}


@media screen and (max-width:834px ){
   
    .quinta-pagina-coluna-da-direita-button{
       left: 9em;
        
    }
}