/* ===== Estilos Gerais da Página Inicial ===== */

.pagina-inicial {
    width: 105%; /* Largura ajustada para cobrir totalmente a tela */
    background-image: url("../img/cozinha-clara.png"); /* Define imagem de fundo */
    background-size: cover; /* Cobre a área inteira sem distorção */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede repetição da imagem */
}

/* ===== Seção do Topo da Página Inicial ===== */

.pagina-inicial-topo {
    display: flex;
    flex-direction: row; /* Elementos alinhados em linha */
    padding: 2rem; /* Espaçamento ao redor dos elementos */
    justify-content: space-between; /* Espaçamento igual entre itens */
    align-items: center; /* Alinhamento vertical ao centro */
}

/* ===== Conteúdo Principal da Página Inicial ===== */

.pagina-inicial-principal {
    display: flex;
    flex-direction: column; /* Alinha elementos em coluna */
    padding: 10rem; /* Espaçamento interno */
}

.pagina-inicial-principal-titulo { 
    position: relative;
    right: 2em; /* Ajusta posição do título */
}

.pagina-inicial-principal h1 {
    font-size: 4.5rem; /* Tamanho grande para o título */
}

/* ===== Estilos do Botão de Orçamento ===== */

.botao-orcamento {
    white-space: nowrap; /* Impede quebra de linha */
    border: 2px solid rgb(0, 0, 0); /* Define borda preta */
    border-radius: 10px; /* Arredonda bordas */
    padding: 1.5rem; /* Espaçamento interno */
    background-color: gray; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    cursor: pointer; /* Mostra cursor de ponteiro ao passar o mouse */
    text-decoration: none; /* Remove sublinhado */
    font-size: 1.5rem;
    margin-top: 2em; /* Espaçamento superior */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Ajuste de Link Dentro da Seção Principal ===== */

.pagina-inicial-principal a {
    width: 10em;
    position: relative;
    right: 5em;
}

/* ===== Estilos de Títulos e Ícones ===== */

.pagina-inicial-topo-titulo {
    font-size: 1.5rem;
    white-space: nowrap;
    color: rgb(0, 0, 0);
}

.hamburguer {
    width: 2.5em;
    height: 2.5em;
    position: relative;
    right: 1em;
    cursor: pointer;
}

/* ===== Menu Principal para Dispositivos Móveis ===== */

.menu-principal {
    display: none; /* Esconde menu principal inicialmente */
    position: absolute;
    top: 7.5em;
    right: 8.5em;
    left: 0.1em;
    font-size: 0.85em;
}

.input-hamburguer:checked ~ nav .menu-principal {
    display: flex;
    flex-direction: row; /* Mostra menu principal quando ativado */
}

.seta {
    position: relative;
    right: 1.5em;
    bottom: 5px;
}

.menu-principal-lista {
    padding: 1.3rem;
    background-color: rgb(99, 97, 97); /* Fundo cinza escuro */
    position: relative;
    right: 5px;
}

.input-hamburguer {
    display: none; /* Esconde checkbox do menu hamburguer */
}

/* Menu para Telas Maiores */

.nav-telas-maiores {
    display: none; /* Esconde menu para telas maiores */
}

/* ===== Media Queries para Responsividade ===== */

/* Media Query para telas entre 320px e 390px */
@media screen and (min-width: 320px) and (max-width: 390px) {

    .pagina-inicial {
        width: 105%;
    }

    .pagina-inicial-topo {
        width: 100%;
        position: relative;
        right: 1.5em;
    }

    .pagina-inicial-topo-titulo {
        font-size: 1.5rem;
    } 

    .pagina-inicial-principal h1 {
        font-size: 4rem; 
        position: relative;
        right: 1.4em;
    }

    .pagina-inicial-principal {
        width: 100%;
        position: relative;
        right: 3em;
    }

    .pagina-inicial-principal a {
        width: 60%;
        position: relative;
        margin-left: 1em;
       }
       
       .pagina-inicial-topo-titulo {
           font-size: 1.8rem;
       }
       
       .pagina-inicial-principal-titulo{
       font-size:4.2em;
       margin-left: -0.3em;
       margin-top: -1.5em;
       }
       
       .botao-orcamento {
           margin-left:-6em;
       }
       
       .menu-principal-lista {
           padding: 0.8rem;
       }
       
       .seta {
           margin-top: 4.5px;
           margin-left: -1.2em;
       }
       .nav-telas-maiores{
        display:none;
         }
       }

       @media screen and (max-width: 375px) {
        .hamburguer {
            margin-left: 1em;
           }
           
           .pagina-inicial-topo-titulo {
               font-size: 1.8rem;
           }
           
           .pagina-inicial-principal-titulo{
           font-size:4.2em;
           margin-left: -0.3em;
           margin-top: -1.5em;
           }
           
           .botao-orcamento {
               margin-left:-6em;
           }
           
           .menu-principal-lista {
               padding: 1rem;
           }
           
           .seta {
               margin-top: 4.5px;
               margin-left: -1.2em;
           }
           .nav-telas-maiores{
            display:none;
             }
           }

           @media screen and (max-width: 390px) {
            .hamburguer {
                margin-left: 1em;
               }
               
               .pagina-inicial-topo-titulo {
                   font-size: 1.8rem;
               }
               
               .pagina-inicial-principal-titulo{
               font-size:4.2em;
               margin-left: -0.3em;
               margin-top: -1.5em;
               }
               
               .botao-orcamento {
                   margin-left:-6em;
               }
               
               .menu-principal-lista {
                   padding: 1rem;
                   margin-left:-0.3em;
               }
               
               .seta {
                   margin-top: 4.5px;
                   margin-left: -1.2em;
               }
               .nav-telas-maiores{
                display:none;
                 }
               }

               @media screen and (max-width: 414px) {
                .hamburguer {
                    margin-left: 1em;
                   }
                   
                   .pagina-inicial-topo-titulo {
                       font-size: 1.8rem;
                   }
                   
                   .pagina-inicial-principal-titulo{
                   font-size:4.2em;
                   margin-left: -0.3em;
                   margin-top: -1.5em;
                   }
                   
                   .botao-orcamento {
                       margin-left:-6em;
                   }
                   
                   .menu-principal-lista {
                       padding: 1.15rem;
                   }
                   
                   .seta {
                       margin-top: 4.5px;
                       margin-left: -1.2em;
                   }
                   .nav-telas-maiores{
                    display:none;
                     }
                   }
        

@media screen and (min-width: 768px){
    .hamburguer{
        display: none;
    }
    .nav-telas-maiores{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    margin-right: 35px;
    font-size: 1.5rem;
    }

    .nav-telas-maiores a{
        color: black;
        margin-top: 0.4em;
        }

    .pagina-inicial-principal-titulo {
        font-size: 8rem; 
        position: relative;
    left: -1em;
    }

    .pagina-inicial-topo-titulo{
    font-size: 2em;
    }
}
    



