.pagina-projetos {
    background-color: #ffffff; 
    padding: 100px 50px;
    text-align: center;
}

.titulo-projetos {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: -2em;
    border-top: 2px solid black; /* Linha em cima do texto */
    border-bottom: 2px solid black; /* Linha embaixo do texto */
    padding: 5px 0; /* Espaçamento entre as linhas e o texto */
    width: 14em;
    margin-left: -1em;
}

.carrosel {
    position: relative;
    overflow: hidden;
    width: 25em;
    position: relative;
    right: 1em;
}

.carrosel-imagem {
    display: none;
    width: 100%;
    margin-top: 2em;
    border-radius: 1em;
}

.carrosel-imagem.active {
    display: block;
}

.next2{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
}

.next{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
}

.next{
    right:0.1em;
}


.next2{
    right:0.1em;
}

.prev:hover, .next:hover {
    background-color: rgba(226, 0, 0, 0.8);
}

.texto{
    position: absolute; 
    bottom: 1px; 
    left: 50%;
    transform: translateX(-50%); 
    color: rgb(255, 255, 255); 
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 5px; 
}
 .botao-orcamento2{
    white-space: nowrap;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1.5rem;
    background-color: gray;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2em
    
}


@media screen and (max-width:375px ){

    .titulo-projetos {
        font-size: 1.5rem;
        padding: 1.2em;
        white-space: nowrap;
        margin-top: -2em;
        margin-left: -1.7em;
        width: 132%; /* Aumenta o comprimento da linha */
        
    }
    
    .swiper{
        left:-1.5em;
        width: 120%; /* Largura total do swiper */

    }

    .carrosel img{
        width: 100%;
        border-radius: 1em;
        margin-top: 0.5em;
        position: relative; /* Necessário para o posicionamento do texto */
        overflow: hidden; /* Esconde qualquer parte da imagem que saia do contêiner */
        height: 100%;
        }


        .botao-orcamento2 {
            white-space: nowrap;
            padding: 1.5rem;
            font-size: 1.3rem;
            margin-top: 2em;
            margin-left: -1em;
            width: 100%;
        }
        .terceira-pagina-subtitulo{
            white-space: nowrap;
        }

        .banheiro img{
        margin-left: 3em;
        
        }
}




@media screen and (max-width: 320px) {
    .titulo-projetos {
        color: rgb(0, 0, 0);
        align-items: center;
        padding: 1.2em;
        white-space: nowrap;
        margin-left: -1.3em;
        width: 130%; /* Aumenta o comprimento da linha */
        font-size: 1.3em;
    }

    .swiper{
        width: 120%; /* Largura total do swiper */
        left: -1em;
    }

    .botao-orcamento2 {
        white-space: nowrap;
        padding: 1.5rem;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 2em;
        position: relative;
        right: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px){

    .galeria-projetos{
     display: grid;
     grid-template-columns:50% 50%;
     gap:3px;
     width: 100%;
    position: relative;
    right: 0.8em;
    left: 1.5em;
    
    }


    .titulo-projetos{
      width: 100%;
     
    }

    .botao-orcamento2{
        white-space: nowrap;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
        padding: 1.5rem;
        background-color: gray;
        color: rgb(0, 0, 0);
        cursor: pointer;
        text-decoration: none;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -2em
        
    }

    .titulo-projetos {
        color: rgb(0, 0, 0);
        align-items: center;
        padding: 0.3em;
        white-space: nowrap;
        margin-left: -1.3em;
        width: 80%; /* Aumenta o comprimento da linha */
        font-size: 1.3em;
        font-size: 2em;
        margin-left: 2em;
    }

    .botao-orcamento2 {
    width: 40%;
    margin-left:12em;
    padding: 1.5em;
    color: #ffffff;
    }

}

@media screen and (min-width:800px ){


    .galeria-projetos{
        width: 105%;
       
       }
}

@media screen and (max-width:834px ){


    .galeria-projetos{
        width: 100%;
       }

       .carrosel img{
        width: 93%;
        
        }

        .carrosel {
            width: 105%;
            }

           
            
            .next2{
                right:2em;
            }
}
