.pagina-projetos {
    background-color: #ffffff; 
    padding: 100px 50px;
    text-align: center;
}

.titulo-projetos {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    position: relative;
    bottom: 2em;
    right: 1.5em;
    border-top: 2px solid black; /* Linha em cima do texto */
    border-bottom: 2px solid black; /* Linha embaixo do texto */
    padding: 5px 0; /* Espaçamento entre as linhas e o texto */
    width:15em;
}

.carrosel {
    position: relative; /* Posiciona o carrossel em relação ao contêiner pai */
    overflow: hidden; /* Oculta conteúdo excedente */
    width: 25em; /* Largura do carrossel */
    right: 1em; /* Move o carrossel para a direita */
    bottom: 3em; /* Ajuste vertical */
}

.carrosel-imagem {
    display: none; /* Oculta as imagens inicialmente */
    width: 82%; /* Largura das imagens */
    margin-top: 2em; /* Espaço acima das imagens */
    border-radius: 1em; /* Cantos arredondados */
}

.carrosel-imagem.active {
    display: block; /* Exibe a imagem ativa */
}

.next2 {
    position: absolute; /* Posiciona o botão "next" no carrossel */
    top: 60%; /* Altura do botão */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateY(-50%); /* Ajusta o posicionamento vertical */
    color: rgb(255, 255, 255); /* Cor do texto */
    border: none; /* Remove borda */
    font-size: 24px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    z-index: 10; /* Camada superior */
    background-color: transparent; /* Fundo transparente */
    right: 0.1em; /* Ajuste à direita */
}

.prev:hover, .next:hover {
    background-color: rgba(226, 0, 0, 0.8); /* Cor de fundo ao passar o mouse */
}

.texto {
    position: absolute; 
    bottom: 1px; 
    left: 45%; 
    transform: translateX(-50%); 
    color: rgb(255, 255, 255); 
    font-size: 1.3rem; 
    border-radius: 20px; 
    padding: 5px; 
}

.botao-orcamento2 {
    white-space: nowrap; /* Impede quebra de linha */
    border: 2px solid rgb(0, 0, 0); /* Borda do botão */
    border-radius: 10px; /* Cantos arredondados */
    padding: 1.5rem; /* Preenchimento interno */
    background-color: gray; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro */
    text-decoration: none; /* Remove sublinhado */
    font-size: 1.3rem; /* Tamanho da fonte */
    display: flex; /* Flexbox para centralizar conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    position: relative; 
    bottom: 3em; /* Ajuste vertical */
    width: 65%; /* Largura do botão */
    left: 1.4em; /* Ajuste à esquerda */
}


/* Estilos para telas entre 320px e 359px */
@media screen and (min-width: 320px) and (max-width: 359px) {
    .titulo-projetos {
        font-size: 1.3em; /* Tamanho da fonte do título */
        width: 14em; /* Largura do título */
        position: relative; 
        bottom: 3em; /* Ajuste vertical do título */
    }

    .carrosel-imagem {
        display: none; /* Oculta as imagens inicialmente */
        width: 65%; /* Largura das imagens */
        border-radius: 1em; /* Cantos arredondados */
    }

    .next2 {
        position: absolute; /* Posiciona o botão "next" */
        top: 70%; /* Altura do botão */
        right: 35%; /* Ajuste à direita */
        transform: translateY(-50%); /* Centraliza verticalmente */
        color: rgb(255, 255, 255); /* Cor do texto */
        border: none; /* Remove borda */
        font-size: 24px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro */
        z-index: 10; /* Camada superior */
        background-color: transparent; /* Fundo transparente */
    }

    .texto {
        position: absolute; 
        bottom: 1px; 
        left: 33%; /* Ajuste horizontal do texto */
        transform: translateX(-50%); 
        color: rgb(255, 255, 255); 
        font-size: 1.3rem; 
        border-radius: 20px; 
        padding: 5px; 
    }

    .botao-orcamento2 {
        white-space: nowrap; /* Impede quebra de linha */
        border: 2px solid rgb(0, 0, 0); /* Borda do botão */
        border-radius: 10px; /* Cantos arredondados */
        padding: 1.5rem; /* Preenchimento interno */
        background-color: gray; /* Cor de fundo */
        color: rgb(0, 0, 0); /* Cor do texto */
        cursor: pointer; /* Cursor de ponteiro */
        text-decoration: none; /* Remove sublinhado */
        font-size: 1.1rem; /* Tamanho da fonte */
        display: flex; /* Flexbox para centralizar conteúdo */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        width: 75%; /* Largura do botão */
        position: relative; 
        bottom: 5em; /* Ajuste vertical */
    }
}

/* Estilos para telas entre 360px e 389px */
@media screen and (min-width: 360px) and (max-width: 389px) {
    .carrosel-imagem {
        display: none; /* Oculta as imagens inicialmente */
        width: 75%; /* Largura das imagens */
        border-radius: 1em; /* Cantos arredondados */
    }

    .texto {
        position: absolute; 
        bottom: 1px; 
        left: 40%; /* Ajuste horizontal do texto */
        transform: translateX(-50%); 
        color: rgb(255, 255, 255); 
        font-size: 1.3rem; 
        border-radius: 20px; 
        padding: 5px; 
    }

    .titulo-projetos {
        font-size: 1.5em; /* Aumenta o tamanho da fonte do título */
        width: 14em; /* Largura do título */
        position: relative; 
        bottom: 3em; /* Ajuste vertical do título */
    }

    .botao-orcamento2 {
        white-space: nowrap; /* Impede quebra de linha */
        border: 2px solid rgb(0, 0, 0); /* Borda do botão */
        border-radius: 10px; /* Cantos arredondados */
        padding: 1.5rem; /* Preenchimento interno */
        background-color: gray; /* Cor de fundo */
        color: rgb(0, 0, 0); /* Cor do texto */
        cursor: pointer; /* Cursor de ponteiro */
        text-decoration: none; /* Remove sublinhado */
        font-size: 1.1rem; /* Tamanho da fonte */
        display: flex; /* Flexbox para centralizar conteúdo */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        width: 75%; /* Largura do botão */
        position: relative; 
        bottom: 6em; /* Ajuste vertical */
    }
}

/* Estilos para telas entre 389px e 414px */
@media screen and (min-width: 389px) and (max-width: 414px) {
    .carrosel-imagem {
        display: none; /* Oculta as imagens inicialmente */
        width: 80%; /* Largura das imagens */
        border-radius: 1em; /* Cantos arredondados */
    }

    .texto {
        position: absolute; 
        bottom: 1px; 
        left: 40%; /* Ajuste horizontal do texto */
        transform: translateX(-50%); 
        color: rgb(255, 255, 255); 
        font-size: 1.3rem; 
        border-radius: 20px; 
        padding: 5px; 
    }

    .titulo-projetos {
        font-size: 1.6em; /* Tamanho da fonte do título */
        width: 14em; /* Largura do título */
        position: relative; 
        bottom: 2em; /* Ajuste vertical do título */
    }

    .botao-orcamento2 {
        white-space: nowrap; /* Impede quebra de linha */
        border: 2px solid rgb(0, 0, 0); /* Borda do botão */
        border-radius: 10px; /* Cantos arredondados */
        padding: 1.5rem; /* Preenchimento interno */
        background-color: gray; /* Cor de fundo */
        color: rgb(0, 0, 0); /* Cor do texto */
        cursor: pointer; /* Cursor de ponteiro */
        text-decoration: none; /* Remove sublinhado */
        font-size: 1.1rem; /* Tamanho da fonte */
        display: flex; /* Flexbox para centralizar conteúdo */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        width: 75%; /* Largura do botão */
        position: relative; 
        bottom: 6em; /* Ajuste vertical */
        left: 20px; /* Ajuste horizontal */
    }
}

/* Estilos para telas entre 768px e 819px */
@media screen and (min-width: 768px) and (max-width: 819px) {
    .titulo-projetos {
        font-size: 2.5em; /* Aumenta o tamanho da fonte do título */
        width: 14em; /* Largura do título */
        position: relative; 
        bottom: 2em; /* Ajuste vertical do título */
        left: 2em; /* Ajuste horizontal */
        width: 80%; 
        border-top: 3px solid black; /* Linha em cima do texto */
        border-bottom: 3px solid black; /* Linha embaixo do texto */
    }

    .galeria-projetos {
        display: grid; /* Usa grid para layout */
        grid-template-columns: 1fr 1fr; /* Duas colunas de igual largura */
        position: relative; 
        margin-left: 2em; /* Margem à esquerda */
        gap: 10px; /* Espaçamento entre os itens */
    }

    .carrosel-imagem {
        display: none; /* Oculta as imagens inicialmente */
        width: 100%; /* Largura das imagens */
        border-radius: 1em; /* Cantos arredondados */
    }

    .texto {
        position: absolute; 
        bottom: 1px; 
        left: 53%; /* Ajuste horizontal do texto */
        transform: translateX(-50%); 
        color: rgb(255, 255, 255); 
        font-size: 1.3rem; 
        border-radius: 20px; 
        padding: 5px; 
    }

    .next2 {
        position: absolute; 
        top: 60%; 
        left: 90%; /* Ajuste à direita */
        transform: translateY(-50%); 
        color: rgb(255, 255, 255); 
        border: none; /* Remove borda */
        font-size: 24px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro */
        z-index: 10; /* Camada superior */
        background-color: transparent; /* Fundo transparente */
    }

    .botao-orcamento2 {
        white-space: nowrap; /* Impede quebra de linha */
        border: 2px solid rgb(0, 0, 0); /* Borda do botão */
        border-radius: 10px; /* Cantos arredondados */
        padding: 1.5rem; /* Preenchimento interno */
        background-color: gray; /* Cor de fundo */
        color: rgb(0, 0, 0); /* Cor do texto */
        cursor: pointer; /* Cursor de ponteiro */
        text-decoration: none; /* Remove sublinhado */
        font-size: 1.1rem; /* Tamanho da fonte */
        display: flex; /* Flexbox para centralizar conteúdo */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        width: 50%; /* Largura do botão */
        position: relative; 
        bottom: 6em; /* Ajuste vertical */
        left: 200px; /* Ajuste horizontal */
    }
}


       /* Estilos para telas entre 820px e 840px */
@media screen and (min-width: 820px) and (max-width: 840px) {
    .titulo-projetos {
        font-size: 2.5em; /* Tamanho da fonte do título */
        width: 14em; /* Largura do título */
        position: relative; 
        bottom: 2em; /* Ajuste vertical do título */
        left: 2em; /* Ajuste horizontal */
        border-top: 3px solid black; /* Linha em cima do texto */
        border-bottom: 3px solid black; /* Linha embaixo do texto */
    }

    .galeria-projetos {
        display: grid; /* Usa grid para layout */
        grid-template-columns: 1fr 1fr; /* Duas colunas de igual largura */
        position: relative; 
        margin-left: 4em; /* Margem à esquerda */
    }

    .carrosel-imagem {
        display: none; /* Oculta as imagens inicialmente */
        width: 100%; /* Largura das imagens */
        border-radius: 1em; /* Cantos arredondados */
    }

    .botao-orcamento2 {
        white-space: nowrap; /* Impede quebra de linha */
        border: 2px solid rgb(0, 0, 0); /* Borda do botão */
        border-radius: 10px; /* Cantos arredondados */
        padding: 1.5rem; /* Preenchimento interno */
        background-color: gray; /* Cor de fundo */
        color: rgb(0, 0, 0); /* Cor do texto */
        cursor: pointer; /* Cursor de ponteiro */
        text-decoration: none; /* Remove sublinhado */
        font-size: 1.1rem; /* Tamanho da fonte */
        display: flex; /* Flexbox para centralizar conteúdo */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        width: 50%; /* Largura do botão */
        position: relative; 
        bottom: 6em; /* Ajuste vertical */
        left: 220px; /* Ajuste horizontal */
    }
}

/* Estilos para telas com largura mínima de 1440px */
@media screen and (min-width: 1440px) {
    .titulo-projetos {
        font-size: 2.5em; /* Tamanho da fonte do título */
        width: 14em; /* Largura do título */
        position: relative; 
        bottom: 2em; /* Ajuste vertical do título */
        left: 15em; /* Ajuste horizontal */
        border-top: 3px solid black; /* Linha em cima do texto */
        border-bottom: 3px solid black; /* Linha embaixo do texto */
    }

    .galeria-projetos {
        display: grid; /* Usa grid para layout */
        grid-template-columns: repeat(3, 1fr); /* Três colunas de igual largura */
        position: relative; 
        margin-left: 15em; /* Margem à esquerda */
        width: 76%; /* Largura da galeria */
    }

    .carrosel-imagem {
        display: none; /* Oculta as imagens inicialmente */
        width: 100%; /* Largura das imagens */
        border-radius: 1em; /* Cantos arredondados */
    }

    .botao-orcamento2 {
        white-space: nowrap; /* Impede quebra de linha */
        border: 2px solid rgb(0, 0, 0); /* Borda do botão */
        border-radius: 10px; /* Cantos arredondados */
        padding: 1.5rem; /* Preenchimento interno */
        background-color: gray; /* Cor de fundo */
        color: rgb(0, 0, 0); /* Cor do texto */
        cursor: pointer; /* Cursor de ponteiro */
        text-decoration: none; /* Remove sublinhado */
        font-size: 1.1rem; /* Tamanho da fonte */
        display: flex; /* Flexbox para centralizar conteúdo */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        width: 30%; /* Largura do botão */
        position: relative; 
        bottom: 6em; /* Ajuste vertical */
        left: 625px; /* Ajuste horizontal */
    }

    .texto {
        position: absolute; 
        bottom: 1px; 
        left: 53%; /* Ajuste horizontal do texto */
        transform: translateX(-50%); 
        color: rgb(255, 255, 255); 
        font-size: 1.3rem; /* Tamanho da fonte do texto */
        border-radius: 20px; 
        padding: 5px; /* Preenchimento interno */
    }

    .next2 {
        position: absolute; 
        top: 60%; 
        left: 90%; /* Ajuste à direita */
        transform: translateY(-50%); 
        color: rgb(255, 255, 255); 
        border: none; /* Remove borda */
        font-size: 24px; /* Tamanho da fonte */
        cursor: pointer; /* Cursor de ponteiro */
        z-index: 10; /* Camada superior */
        background-color: transparent; /* Fundo transparente */
    }

    .carrosel-imagem {
        display: none;
        transition: opacity 0.5s ease;
    }
    
    .carrosel-imagem.active {
        display: block;
    }

    .carrosel-imagem:hover {
        transform: scale(1.05);
    }
    
    /* Estilo do modal */
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .modal.active {
        display: flex;
    }
    
   
    
    .modal-close {
        position: absolute;
        top: 2em;
        right:5em;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
    
}


