.terceira-pagina {
    background-color: #ffffff; /* Cor de fundo da terceira página */
    padding: 100px 75px;
    text-align: center;
}

.terceira-pagina-topo {
    padding: 15px;
    margin-top: -150px; /* Pode ser ajustado conforme necessário */
}

.terceira-pagina-subtitulo {
    font-size: 2.4rem;
    color: #000; /* Usando código hexadecimal */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black; /* Linha em cima do texto */
    border-bottom: 2px solid black; /* Linha embaixo do texto */
    padding: 5px 0; /* Espaçamento entre as linhas e o texto */
    margin-top: -1em;
}

.terceira-pagina-principal {
    background-color: #fdfdfd; /* Cor de fundo da seção principal */
}

.terceira-pagina-primeira-parte-do-principal-paragrafo {
    font-size: 1.7rem;
    color: black;
    margin-top: 1em;
    text-align: left;
    max-width: 100%; /* Limite para o texto se ajustar na página */
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
  position: relative;
  right: 2em;

}

.terceira-pagina-primeira-parte-do-principal{
   width: 140%;
}


.trescaixas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

.banheiro img{
width: 230px;
height: 220px;
position: relative;
top:-210px;
right: 160px;
}

.caixa {
    border:2px solid rgb(0, 0, 0);
    background-color: gray;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 25px;
    margin-left: 10em;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 7em;
    gap:15px;
}

.caixa p {
    font-size: 1.7rem;
}

.secunda-parte {
  width: 140%; 
  margin-top: -10em;
}

.secunda-parte-paragrafo {
    font-size: 1.7em;
    color: black;
   position: relative;
   right: 2.2em;
    text-align: left;
    max-width: 100%; /* Limite para o texto se ajustar na página */
    word-wrap: break-word;
   
}

 @media screen and (max-width: 360px) {
    .terceira-pagina-subtitulo{
        white-space: nowrap;
       width: 5.5em;
       position: relative;
       right: 1em;
    }

    .terceira-pagina-primeira-parte-do-principal-paragrafo{
    font-size: 1.5em;
    }

    .banheiro img{
       right: 100px;
       width: 11em;
       height: 12em;
       margin-top: 1em;
    }
    .trescaixas p{
   font-size:1.4em;
    }

    .secunda-parte-paragrafo{
        font-size: 1.5em;
    }
 }